

<%= link_to features_path do %>
  <i class="fas fa-times"></i>
<% end %>

<div class="container">

  <h4> <%= @feature.name %> 
    <% if current_user == @feature.user %>
      <%= link_to edit_feature_path(@feature) do  %>
        <i class="fas fa-pen"></i>
      <% end %>
    <% end %>
  </h4> 

  <p>description: <%= @feature.description %></p>

  <p>estimated delivery: 
    <%= if @feature.delivery.blank?
       "not specified"
       else @feature.delivery 
    end %> 
  </p>

  <p>product assignee: <%= @feature.user.name  %></p>

  <p><br></p>
  <p>
    <% if current_user == @feature.user %>
      <%= link_to "Delete feature", feature_path(@feature), method: :delete, data: {confirm: "Are you sure?"}, class: "button-red"  %>
    <% end %>
  </p>

  <h4>Needs list for <%= @feature.name  %></h4>

  <ul>
    <% @needs.each do |need| %>
    <li>
      <p>
        <%= need.description  %>
        <br>
        <%= need.user.name  %>
        <br>
        <%= link_to "Delete need", [@feature, need], method: :delete, data: {confirm: "Are you sure?"}  %>
      </p>
    </li>
    <% end %>
  </ul>

  <h4>Create a need for <%= @feature.name %></h4>

  <%= form_for [@feature, @need] do |f| %>
    <%= f.text_field :description, placeholder: "Add a description"  %>
    <%= f.submit "Add a need", class: "button-blue"  %>
  <% end %>
</div>

